<ion-view view-title="Dashboard">
  <ion-content style="background-image: url('img/bg.jpg')">
    <div class="row" style="margin: 0 auto; margin-left: 4.5%;">
			<div class="col">
				<div class="btn-big orange" ng-click="">
		        	<i class="fa fa-bar-chart fa-2x"></i>
		        	<span class="label bottom">Today Sales!</span> 
		        </div>

				<div class="btn-small red">
			        	<i class="fa fa-wrench fa-2x"></i>
			        	<span class="label bottom">Purchase</span> 
			        </div>
	
			        <div class="btn-small green">
			        	<i class="fa fa-wrench fa-2x"></i>
			        	<span class="label bottom">Sales</span> 
			        </div>
	
			        <div class="btn-big redish" ng-click="gotoSearch()">
			        	<i class="fa fa-search fa-4x"></i>
			        	<span class="label bottom">Search Product</span> 
			        </div>
				</div>
	        
        </div>
  </ion-content>
</ion-view>

<style type="text/css">
  .platform-android .bar .title{

      text-align: center;
      top: 10%;
      left: 0 !important;
  }
</style>

