
  <ion-content style="background: url('img/login-bg.jpg')">
    <form ng-submit="doLogin()" class="loginForm">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-click="loginUser(username, password)">Log in</button>
        </label>
    </form>
  </ion-content>

<style type="text/css">
  .item-input{

      background: transparent !important;
  }

  .item{

      border: none !important;
      background: transparent !important;
  }
  .input-label{

      color: #FFF;
  }

  .loginForm{

      padding-top: 80%;
  }

  input[type="text"], input[type="password"]{

     border-bottom: 1px solid #FFF;
     color: #FFF;
  }

  .item-input input{

      -webkit-flex: 0.9 100px !important;
      -moz-box-flex: 0.9 !important;
  }

</style>